*{
  margin: 0;
}
body{
  font-family: Dancing Script;
  background-color: #02010a;
  text-align: center;
}
.contenedor{
  display: flex;
  flex-direction: column;
  width: 900px;
  margin: 0 auto;
}
@@keyframes sliden {
  0%{margin-top: 150%}
  60%{margin-top: -5%}
  100%{margin-top: 0%}
}
header{
  color: white;
  border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  box-sizing: border-box;
  width:100%;
  float: left;
  background-color: #5b7989;
  animation-name: sliden;
  animation-duration: 2s;
  padding: 2%;
}
header h1{
  text-align: left;
  text-shadow: 2px 2px 2px #02010a;
}
nav{
  text-align: right;
}
header nav a{
  font-size: 1.5em;
  color: white;
}
nav a:visited{
  text-decoration: none;
  color: white;
}
.central a img{
  width: 90%;
  align-content: center;
}
div .central{
  background-color: #82c3a6;
  box-sizing: border-box;
  width: 100%;
}
.{
  display: flex;
  background-color:  #d5c75f;
  padding: 10px;
}
.contenedor{
  display: flex;
  background-color:  #d5c75f;
  padding: 10px;
  width: 50%;
}
