body{
  font-family: Dancing Script;
  background-color: #02010a;
  text-align: center;
}

header{
  background-color: #5b7989;
  border-radius: 10px 10px 0 0;
}
header h1{
  text-shadow: 2px 2px 2px #02010a;
  color: white;
  text-align: left;
  font-size: 2.6em;
  float: left;
  width: 50%;
}
header nav{
  font-size: 1.8em;
  line-height: 60px;
  position: relative;
  display: inline;
  width: 50%;
  color: white;
}
nav :link {
  color: white;
}
.contenido{
  display: flex;
  flex-direction: column;
  width: 900px;
  margin: 0 auto;
}
a[href='index.html']{
  text-decoration: none;
}
.central{
  background-color: #82c3a6;
}
.central img{
  width: 80%;
  box-shadow: 2px 2px 2px #02010a;
  margin: 10px;
}
.contenedor{
  display: flex;
  background-color: #d5c75f;
}
